<div *ngIf="status" class="alert alert-danger text-center">{{ message }}</div>

<table class="table border-1 border rounded-5 table-hover table-borderless">
  <tbody>
    <tr>
      <th scope="row">Account Number</th>
      <td>{{ getId() }}</td>
    </tr>
    <tr>
      <th scope="row">Username</th>
      <td>{{ getUsername() }}</td>
    </tr>
    <tr>
      <th scope="row">Name</th>
      <td>{{ getName() }}</td>
    </tr>
    <tr>
      <th scope="row">Balance</th>
      <td>{{ getBalance() }}</td>
    </tr>
  </tbody>
</table>
