<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
  crossorigin="anonymous"
/>

<div class="row h-100">
  <div class="col-sm"></div>
  <div class="col-sm border border-1 rounded m-auto">
    <form class="m-5" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="username"
          class="form-control"
          id="username"
          name="username"
          aria-describedby="emailHelp"
          placeholder="Enter username"
          ngModel
          name="username"
        />
        <br />
        <!-- <small id="emailHelp" class="form-text text-muted"
          >We'll never share your username with anyone else.</small
        > -->
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          ngModel
          name="password"
        />
      </div>
      <button type="submit" class="btn btn-primary mt-5">Submit</button>
    </form>
    <small class="m-2 link-primary" style="cursor: pointer" routerLink="signup"
      >Doesn't Have an account? Signup</small
    >
  </div>
  <div class="col-sm"></div>
</div>
